---
layout: default
title: Research
permalink: /research/
---

<h2>Publications</h2>
{% for publication in site.data.publications %}
  {% include publication_partial.html data=publication %}
{% endfor %}

<h2>Presentations</h2>

{% for presentation in site.data.presentations %}
  <h3>{{ presentation.title }}</h3>
  <h4>{{ presentation.location }}, {{ presentation.date }}</h4>
  <p>{{ presentation.description }}</p>
{% endfor %}

<h2>Awards</h2>

{% for award in site.data.awards %}
  <h3>{{ award.title }}, {{ award.date }}</h3>
  <p>{{ award.description }}</p>
{% endfor %}
