---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

body {
    font-family: 'Quicksand', sans-serif;
}

code {
    font-family: 'JetBrains Mono', monospace;
}

.experience-name {
    margin-bottom: 0px;
}

.experience-title {
    margin-bottom: 8px;
    font-style: italic;
}

.experience-subheading {
    margin-bottom: 0px;
    font-weight: 300;
}

.experience-details {
    margin-top: 8px;
}
